*{
    margin: 0%;
    padding: 0%;
    /* box-sizing: border-box; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 5vw;
}
.hangMan{
    background-color: aliceblue;
    position: absolute;
    left: 10%;
    height: 80vh;
    width: 30vw;
}
.hang{
   background-color: black;
   width:0.5vw;
   height: 10vh;
   position: absolute;
   left: 70.7%;
   top: 10%;
}
.hangMan div{
    position: absolute;
    background-color: black;
}
.first{
    bottom: 10%;
    width:15vw;
    height: 13vh;
 }
 .second{
    bottom: 23%;
    left: 16.5%;
    width:1.4vw;
    height: 56vh;
 }
 .thered{
    top: 10%;
    left: 17%;
    width:18vw;
    height: 1vh;
 }
 .forth{
    top: 15.5%;
    left: 15%;
    transform: rotate(140deg);
    width:6.3vw;
    height: 1vh;
 }
 /*body of the dead*/
 .head{
   width: 4vw;
   height: 9vh;
   left: 65%;
   top: 21%;
   border-radius: 50%;
 }
 .body{
    width: 0.4vw;
    height: 16vh;
    top: 32%;
    left: 71%;
 }
 .right{
    width: 0.9%;
    height: 8vh;
    top: 34%;
    left: 66%;
    transform: rotate(60deg);
 }
 .right-leg{
    width: 0.9%;
    height: 8vh;
    top: 49%;
    left: 66%;
    transform: rotate(60deg);
 }
 .left{
    width: 0.9%;
    height: 8vh;
    top: 34%;
    left: 77%;
    transform: rotate(-60deg);  
 }
 .left-leg{
    width: 0.9%;
    height: 8vh;
    top: 49%;
    left: 77%;
    transform: rotate(-60deg);  
 }


.play-place{
    background-color: rgb(29, 105, 172);
    width: 80vh;
    height: 60vh;
}
